{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{% block body %}
    <h1>Novo produto</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary pull-right" value="Criar produto" />
    {{ form_end(form) }}
    <a href="{{ path('produto_index') }}" class="btn btn-danger pull-left">Ir para lista de produtos</a>
{% endblock %}